<center>
  <br><br><br>
  <h2 class="text-white">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :first_name, class: "text-white" %><br />
      <%= f.text_field :first_name, class: "rounded", style: "width: 300px;", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name, class: "text-white"  %><br />
      <%= f.text_field :last_name, class: "rounded", style: "width: 300px;", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :phone, class: "text-white"  %><br />
      <%= f.text_field :phone, class: "rounded", style: "width: 300px;", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, class: "text-white"  %>
      <% if @minimum_password_length %>
        <em class="text-white">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "rounded", style: "width: 300px;", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "text-white"  %><br />
      <%= f.password_field :password_confirmation, class: "rounded", style: "width: 300px;", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'Log in', new_user_session_path, class: "btn btn-warning"%><br><br><br><br><br>
</center>
