<div class="max-w-5xl mx-auto text-center">
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>
  <% @doctors.each do |doctor| %>
    <div class="flex justify-center">
      <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
        <%= image_tag doctor.category.name %>
        <div class="p-6 flex flex-col justify-start">
          <h5><%= doctor.category.name %></h5>
          <p><%= doctor.first_name %> <%= doctor.last_name %></p>
          <% if doctor.appointments.opened.count >= Doctor::MAX_APPOINTMENT_COUNT %>
            <%= button_to 'Busy schedule', '#', disabled: true, class: 'disabled-button' %> <br>
          <% else %>
          <% if doctor_signed_in? %>
            <button class="btn btn-secondary">Appointment not available</button>
          <% end %>
            <% unless doctor_signed_in? %>
              <%= form_tag appointments_path, method: :post do %>
                <%= hidden_field_tag :doctor_id, doctor.id %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <%= label_tag :appointment_time, 'Appointment Time:' %>
                <%= select_tag :appointment_time, appointment_time_options(doctor.id) %>
                <%= submit_tag 'Make an appointment', class: "btn btn-success" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
